#include "unity.h"
#include "tested_file_header.h"

void setUp(void) {
    // set stuff up here
}

void tearDown(void) {
    // clean stuff up here
}

void test_myfunction(){
    // assert stuff here
}

int main(void) {
    UNITY_BEGIN();
    RUN_TEST(test_myfunction);
    return UNITY_END();
}